apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: backend
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  ingressClassName: nginx
  tls:
    - hosts:
        - ${ENVIRONMENT}.sso.saveapis.de
      secretName: ${ENVIRONMENT}.sso.saveapis.de-tls
  rules:
    - host: ${ENVIRONMENT}.sso.saveapis.de
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: backend
                port:
                  number: 8080