{
  "local": {
    "userName": "",
    "password": "",
    "token": ""
  },
  "stage": {
    "userName": "",
    "password": "",
    "token": ""
  },
  "prod": {
    "userName": "",
    "password": "",
    "token": ""
  }
}