namespace: sso-${ENVIRONMENT}
resources:
  - namespace.yaml
  - redis/deployment.yaml
  - redis/service.yaml
  - elasticsearch/deployment.yaml
  - elasticsearch/service.yaml
  - backend/deployment.yaml
  - backend/service.yaml
  - backend/ingress.yaml
  - kibana/deployment.yaml
  - kibana/service.yaml

secretGenerator:
  - name: jwt
    literals:
      - issuer=${JWT_ISSUER}
      - audience=${JWT_AUDIENCE}
      - secret=${JWT_SECRET}
